<header id="navtop"> <a href="{{site.github.url}}/index.html" class="logo fleft"> <img src="img/logo.png" alt=""> </a>
  <nav class="fright">
    <ul>
      <li><a href="{{site.github.url}}/index.html" class="navactive">Home</a></li>
      <li><a href="{{site.github.url}}/about.html">About</a></li>
    </ul>
    <ul>
      <li><a href="{{site.github.url}}/works.html">Works</a></li>
      <li><a href="{{site.github.url}}/services.html">Services</a></li>
    </ul>
    <ul>
      <li><a href="{{site.github.url}}/blog.html">Blog</a></li>
      <li><a href="{{site.github.url}}/contact.html">Contact</a></li>
    </ul>
  </nav>
</header>
