<header id="navtop"> <a href="{{site.github.url}}/index.html" class="logo fleft">
  <img class="site-header" style="width: 20%; margin-left : -40px;" src="{{site.github.url}}/img/logo.png" alt=""> </a>
  <nav class="fright">
    <ul>
      <li><a href="{{site.github.url}}/index.html">Home</a></li>

      <!<li><a href="{{site.github.url}}/about">About</a></li>
    </ul>
    <ul>
      <li><a href="{{site.github.url}}/works">Works</a></li>
      <li><a href="{{site.github.url}}/services">Services</a></li>
    </ul>
    <ul>
      <li><a href="{{site.github.url}}/blog">Blog</a></li>
      <li><a href="{{site.github.url}}/contact">Contact</a></li>
    </ul>
  </nav>
</header>
